<!DOCTYPE html>
<html>
  <head>
    <title>Course</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="contain">
      <%= render "layouts/nav" %>
      <%= yield %>
    </div>

  </body>
</html>

<!--
<div class="notice-alert">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
-->
